body {
    font-family: "Roboto Mono", monospace;
    min-height: 600px;
    background-color: #101111;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 16px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  @media (max-height: 500px) {
    body {
      min-height: 800px;
    }
  }
  
  input {
    background: transparent;
    color: #ffffff;
    margin: 4px;
    outline: 0;
    border: none;
    border-bottom: 2px solid #f2b705;
    border-radius: 90px;
    height: 25px;
    text-align: center;
  }
  
  button {
    border: none;
    background: transparent;
    color: #ffffff;
    border-bottom: 2px solid #f2b705;
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 90px;
  }
  
  button:hover {
    border-radius: 90px;
    background: rgb(202, 167, 11);
    background: linear-gradient(
      0deg,
      rgba(202, 167, 11, 1) 0%,
      rgba(243, 213, 78, 1) 100%
    );
  }
  
  .png {
    width: 70vh;
  }
  
  .resultado {
    color: #f2c744;
    font-size: 20px;
    text-align: center;
    margin-top: 16px;
  }
  